.cart-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;

    .period {
        display: flex;
        margin-top: 40px; 

        .input {
            margin-top: 10px;
            margin-right: 10px;

            strong {
                display: block;
            }

            input {
                width: 100%;
                height: 40px;
                color: #333;
                border: 1px solid #dcdce6;
                padding: 0 10px;
            }

            input[readonly] {
                background-color: rgb(238, 238, 238);
            }
        }
    }

    ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        list-style: none;
        margin-top: 20px;

        li {
            background: #FFF;
            padding: 15px;
            position: relative;
            display: flex;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;

            > div {
                display: flex;
            }

            img {
                width: 70px;
                height: 100px;
                margin-right: 10px;
            }

            p {
                margin-top: 5px;
            }
        }
    }
}