.books-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;

    .show-more {
        display: table;

        button {
            background-color: white;
            color: gray;
            border: 1px solid gray;
            font-size: 1em;
            font-family: Arial;
            text-shadow: none;
            margin-top: 10px;
        }
    }

    h1 {
        font-size: 22px;
    }

    .filter {
        margin-top: 20px;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
        list-style: none;
        margin-top: 20px;

      

        li {
            background: #FFF;
            padding: 24px;
            position: relative;
            display: flex;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;

            p {
                color: #737380;
                line-height: 21px;
                font-size: 16px;
            }

            > div {
                margin-left: 10px;
                position: relative;
                width: 100%;

                p {
                    margin-top: 15px;    
                    font-size: 1.1em;
                }

                button {
                    position: absolute;
                    bottom: 0;
                    width: 100%;

                    span {
                        margin-left: 5px;
                    }
                }
            
                button:hover {
                   opacity: 0.9;
                }
            }

            .title {
                font-size: 1.2em;
                font-weight: 700;
            }
        }
    }

    button {
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:15px 25px;
        text-decoration:none;
    }

    .btnSave {
        margin-top: 10px;
        float: right;
        margin-left: 10px;
    }

    .btnClear
    {
        margin-top: 10px;
        float: right;
        margin-left: 10px;
    }
}
