.header-container {
    .btnLogout {
        background-color: white;
        color: gray;
        border: 1px solid gray;
        padding: 5px 15px;
        font-size: 1em;
        font-family: Arial;
        text-shadow: none;
    }
}